* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ADD8E6;
}

.container {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
    padding: 1em 1em;
    display: flex;
}

.nav {
    background-color: #DAA520;
    justify-content: space-between;
    padding: 5px;
    border: 1px dashed black;
    min-width: 100px;
}

.link {
    flex-grow: 1;
    text-align: center;
}

.logo {
    text-align: start;
}

.login {
    text-align: end;
}

.section {
    min-height: 300px;
}

.blue {
    background-color: #00008B;
}

.grey {
    background-color: #D3D3D3;
}

footer {
    min-height: 300px;
    background-color: #23272A;
}